#main-image
{
	background: url(images/main.jpg) no-repeat center center;
	height: 500px;
	width: 100%;
	background-size: cover;
}


#main-image h1
{
	color: white;
	padding-top: 100px;
	
}

#main-image h2
{
	color: white;
	padding-bottom: 50px;
}

